In [9]:
from sklearn.preprocessing import FunctionTransformer
import pandas as pd
import numpy as np
df=pd.read_csv('sample_dataset.csv').iloc[:,0:3].dropna()
df

     mean radius  mean texture  mean perimeter
1          20.57         17.77          132.90
2          19.69         21.25          130.00
3          11.42         20.38           77.58
5          12.45         15.70           82.57
7          13.71         20.83           90.20
..           ...           ...             ...
562        15.22         30.62          103.40
563        20.92         25.09          143.00
564        21.56         22.39          142.00
566        16.60         28.08          108.30
567        20.60         29.33          140.10

[385 rows x 3 columns]

# Assume that you want to conver first 5 column data to it's log value

In [10]:
transformer=FunctionTransformer(np.log)
transformer.fit_transform(df)

     mean radius  mean texture  mean perimeter
1       3.023834      2.877512        4.889597
2       2.980111      3.056357        4.867534
3       2.435366      3.014554        4.351310
5       2.521721      2.753661        4.413646
7       2.618125      3.036394        4.502029
..           ...           ...             ...
562     2.722610      3.421653        4.638605
563     3.040706      3.222469        4.962845
564     3.070840      3.108614        4.955827
566     2.809403      3.335058        4.684905
567     3.025291      3.378611        4.942356

[385 rows x 3 columns]